<p id="notice"><%= notice %></p>

<p>
  <strong>Memo:</strong>
  <%= @group_payment.memo %>
</p>

<%= link_to 'Edit', edit_group_payment_path(@group_payment) %> |
<%= link_to 'Back', group_payments_path %>
